/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');*/

h1 {
	font-weight: bold;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
	background-color: #19334d;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
	border: 2px solid #19334d;
}

span {
	font-size: 12px;
}

form label span {
	color: black;
}

#submit_button {
	border-radius: 7px;
	border: none;
	background-color: #19334d;
	color: #f3f3f3;
}

#submit_button:hover {
	border: 1px solid #19334d;
	background-color: #f3f3f3;
	color: #19334d;
}

div#radiogen {
	font-size: 16px;
	width: 100%;
	justify-content: center;
	align-content: center;
	align-items: center;
}

div#radiogen label {
	margin-right: 10px;
}

button {
	background-color: #19334d;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	background-color: inherit;
	transform: scale(0.95);
	color: #19334d;
}

button:focus {
	background-color: inherit;
	outline: none;
	color: inherit;
}

button.ghost {
	font-size: 20px;
	font-family: inherit;
	font-weight: normal;
	cursor: pointer;
	background-color: #f3f3f3;
	color: #19334d;
	border: 1px solid #f3f3f3;
}

button.ghost:hover {
	background-color: #19334d;
	color: #f3f3f3;
	border: 1px solid #f3f3f3;
}

.container1 h1 {
	font-size: 36px;
}

form {
	background-color: #FFFFFF;
	align-items: center;
	justify-content: center;
	padding: 20px 150px;
	height: 100%;
	width: 100%;
	text-align: center;
}

.container1 {
	background-color: #fff;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 786px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container1.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.next1 {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container1.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}


.container1.next-panel-active .next1 {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}


@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container1.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #19334d;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container1.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container1.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container1.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

a#forgotpass {
	text-decoration: none;
	color: black;
}

a#forgotpass:hover {
	text-decoration-line: underline;
	text-decoration-color: black;
	text-decoration-style: solid;
}

.social-container a {
	margin: 0 10px;
}

.fa-linkedin-square {
	color: #2867B2;
}

.fa-facebook-official {
	color: #4267B2;
}

.fa-google-plus-official {
	color: #DB4437;
}

 form [type = "email"],  form [type = "password"] {
	width: 50px;
}

 #su {
	 justify-content: center;
	 padding: 10px 30px; font-size: 20px;
	 background-color: #19334d;
	 color: #f3f3f3;
	 border: 1px solid #19334d;
	 cursor: pointer;
 }

 #su:hover {
	 background-color: #f3f3f3;
	 color: #19334d;
 }

#si {
	justify-content: center;
	padding: 10px 30px; font-size: 20px;
	background-color: #19334d;
	color: #f3f3f3;
	border: 1px solid #19334d;
	cursor: pointer;
}

#si:hover {
	background-color: #f3f3f3;
	color: #19334d;
}